body {
    background-color: #edddd0;
    /* flex-wrap: wrap; */
}

.content-wrap {
    width: 100%;
    margin-top: -20px;
  }

header {
    display: flex;
    justify-content: center;
    background-color: #a6cad4;
    color:#db504a;
    font-family: 'Montserrat', sans-serif;
}

.links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #a6cad4;
    font-family: 'Montserrat', sans-serif;
}

.about-container {
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    /* border: 4px solid black; */
}

.grid-item {
    /* border: 2px solid black; */
    color:#334259;
    font-family: 'Montserrat', sans-serif;
    grid-column-start: 1;
    grid-column-end: 2;
}

.picture {
    grid-column: 2;
    grid-row: 2;
    margin: 20px 50px;
}

li {
    margin: 10px 10px;
}

footer {
    background-color: #a6cad4;
    color:#db504a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.courses {
    margin-top: 20px;
}

@media screen and (min-width:600px){
    .courses {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
    }
}